

body {
	background-image:url("../img/pic9.jpg");
	background-repeat: no-repeat;
	background-size: 1300px 580px;
}

#logo {
	font-size:40px;
	color:#bdf272;
}




#hd {
	font-size:40px;
}



